<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          Reading books offers numerous benefits. Firstly, it enhances knowledge and intellectual growth by expanding vocabulary and improving critical thinking skills.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6 style="text-align: center">Categories</h6>
        <ul class="footer-links">
          <li>
            <a href="http://scanfcode.com/category/front-end-development/"
              >Educational</a
            >
          </li>
          <li>
            <a href="http://scanfcode.com/category/back-end-development/"
              >Art</a
            >
          </li>
          <li>
            <a href="http://scanfcode.com/category/java-programming-language/"
              >Science</a
            >
          </li>
          <li><a href="http://scanfcode.com/category/android/">Programming</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6 style="text-align: center">Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">Books</a></li>
          <li><a href="http://scanfcode.com/contact/">Cart</a></li>
          <li>
            <a href="http://scanfcode.com/contribute-at-scanfcode/"
              >Purchases</a
            >
          </li>
          <li>
            <a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
