<div class="auth-container">
  <div class="auth-from">
    <ng-container *ngIf="!sent">
      <div class="auth-heading">Reset password</div>
      <label for="username">Enter your email:</label>
      <input
        type="text"
        id="username"
        placeholder="Enter username"
        name="username"
        [(ngModel)]="email"
        required
      />

      <button style="width: 100%" (click)="forgotPassword()">
        Reset Password
      </button>
    </ng-container>
    <ng-container *ngIf="sent">
      <div style="text-align: center">
        <div style="font-size: 18px; margin-bottom: 10px">
          Password reset email sent
        </div>
        <button style="width: 100%">Back to login</button>
      </div>
    </ng-container>
  </div>
</div>
